head
  link(rel='stylesheet', href='style.css')
body
  header.header
    h1 Your Scores:
  p analysis id:  #{id}
  p mobile profile: #{mobile}

  p  VMAF Score: #{VMAF}
  p  SSIM Score: #{SSIM}
  p  PSNR Score: #{PSNR}