head
  title use FFProbe to get avideo details: from api.video
  link(rel='stylesheet', href='style.css')
body
  header.header
    h1 your video info:

  #results 
    h2 Here are commonly referenced values:
    #topData 
      p height
      #height.data
        | #{height}
      p width
      #width.data
        | #{width}
      p aspectRatio
      #aspectRatio.data
        | #{aspectRatio}
      p bitrate
      #bitrate.data
        | #{bitrate}
      p size (bytes)
      #sizeBytes.data
        | #{sizeBytes}
      p duration (s)
      #duration.data
        | #{duration}
      p formatName
      #formatName.data
        | #{formatName}  
      p Long format name
      #formatLong.data
        | #{formatLong}
      p videoCodec
      #videoCodec.data

        | #{videoCodec}
      p audioCodec
      #audioCodec.data
        | #{audioCodec}
    #format 
      h2 The ffprobe show_format response is an overview of your video.
      each val, key in format
        p #{key} : #{val}
      p
      p
    #streams
      h2 Show_streams has a lot of detailed information about each track inside the video.
      h3 There are #{streams.length} streams in this video.
      each val, key in streams
        p #{key} : #{val}
        each nestedval, nestedkey in val
          p #{nestedkey} : #{nestedval}
         
  p
  #footer 
    
    p <a href = "/"> test another</a>

    p This app was created with <a href="https://api.video">api.video</a>.<br/>
    p Get the <a href="https://github.com/dougsillars/ffprobeavideo">sample code</a>, and read about <a href="https://a.video/works/ffprobe-a-video">how we built the demo.</a><br/>
    p More sample apps can be found at <a href="https://a.video">a.video</a>.


